.navbar-brand {
    border-radius: 0px;
    background-color: #000000;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

button {
    color: inherit;
    font: inherit;
    margin: 0;
}

.navbar-toggle {
    border: 2px solid white;
    margin-right: 25px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.icon-bar {
    background-color: white;
}

.main-title {
    margin-bottom: 15px;
    text-align: center;
    color: #ff4532;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
}

.content-box {
    margin: 20px;
    width: auto;
    height: auto;
    color: black;
    background-color: rgba(216, 24, 24, 0.2);
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
}

.item {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}