*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
body{
    background-color: #abe7da;
}
.container{
    margin: 0px;
}
#header-nav{
    background-color: rgb(57, 59, 61);
    border-radius: 0%;
    border: 0;
    height: 60px;
}
.navbar-brand {
    margin-left: 0;
    padding: 0;
}
#company-name{
    color: whitesmoke;
    padding-left: 15px;
    margin-top: 10px;
    font-weight: normal;
}
ul{
    margin: 0;
    text-align: center;
}
li{
    padding-bottom: 10px;
    background-color: #63ae9e;
}
.item-menu{
    font-size: 1.5em;
    color:#FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.nav>li>a:hover {
    font-weight: bold;
    background-color:#323a3a ;
}
@media (min-width:768px) {
    #nav-list{
        display: none;
    }
}
.info-menu{
    margin: 20px;
    padding: 15px;
    background-color: rgb(57, 59, 61);
}
.title-menu{
    margin-top: 0px;
}
.description-menu{
    text-align: justify;
}